<div class="flavor">
  <svg class="scoop" style="fill: {{flavor.baseColor}}"></svg>
  {{#if flavor.sprinkleColors.0}}
    <svg class="sprinke-1" style="fill: {{flavor.sprinkleColors.0}}"></svg>
  {{/if}}
  {{#if flavor.sprinkleColors.1}}
    <svg class="sprinke-2" style="fill: {{flavor.sprinkleColors.1}}"></svg>
  {{/if}}
  <svg class="cone"></svg>
</div>
