@media screen and (min-width: 480px) {


  /******************** COLUMN LAYOUT
  ********************/
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: left;
    max-width: 200px;
  }
}



/********************
margins = (2.5*2)*3 = 15
100-15 = 85
85/3 = 28.33333333333
********************/


/********************PAGE: PORTFOLIO
********************/


#gallery li {
  width: 28.3333333%
}

#gallery li:nth-child(4n) {
  clear: left;
}


  /********************HEADER
  ********************/


#logo {
  float: left;
  margin-left: 5%;
  text-align: left;
  width: 45%;
}

h1 {
  font-size: 0.825em;
  margin-bottom: 20px;
}

header {
  border-bottom: 5px solid #ffffff
  margin_bottom: 60px;
}

}
