/********************GENERAL
********************/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  color: #423f43;
  background: linear-gradient(to top, #f6f0e0, #fefcf9, #fefcf9);
}

@font-face { font-family: pixel; src: url('dotty.ttf'); }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/***
h1 {
  margin: 0 0 1em 0;
}
***/

#main {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  padding: 40px;
}

/********************sidebar
********************/

#sidebar {
  width: 190px;
  padding-top: 40px;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#logo {
  text-align: left;
  margin: 0;
  width: 150px;
}

h3 {
  margin: 20px 0;
  max-width: 171px;
  text-align: left;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: pixel, monospace;
  text-transform: uppercase;
  line-height: 0.8;
}

#social img {
  height: 40px;
  width: 40px;
}

/********************GALLERY
********************/

#gallery {
  flex-basis: 600px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 40px;
  padding-left: 40px;
  margin-left: 190px;
  margin-top: 0px;
}

#gallery article {
  margin: 0 40px 40px 0;
  position: relative;
}

#gallery article img {
  flex-basis: 200px;
  height: 179px;
  margin-bottom: 20px;
}

#gallery article,
#gallery .flavor svg,
#gallery article .name {
  width: calc(170px * 0.8);
  height: calc(240px * 0.8);
}

#gallery .flavor svg,
#gallery article .name {
  position: absolute;
  top: 0;
  left: 0;
}

#gallery .flavor,
#gallery article .name {
  transition: opacity 240ms;
}

#gallery article .name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-family: pixel, monospace;
  font-size: 1.35rem;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  padding: 0 12px;
  height: 72%;
  line-height: 0.8;
}

#gallery article:hover .flavor {
  opacity: 0.24;
}

#gallery article:hover .name {
  opacity: 1;
}


/********************FOOTER
********************/



/********************COLORS
********************/

/* site body */

/************

body {
  background-color: #ffffff;
  color: #999;
}

header {
  background: #ffffff;
  border-color: none;
}

h1 {
    color: #8EC0E4;
  }

a {
  color: #8EC0E4;
}

*******/
