/********************GENERAL
********************/
@font-face { font-family: pixel; src: url('dotty.ttf'); }

p {
  font-family: pixel, sans-serif;;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/***
h1 {
  margin: 0 0 1em 0;
}
***/

/********************sidebar
********************/

#logo {
  text-align: left;
  margin: 0;
  height: 88px;
  width: 171px;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  margin: 20px 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 0.9em;
  max-width: 171px;
}

#sidebar {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 40px 60px;
  position: fixed;
}

/********************GALLERY
********************/

#main {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}

#gallery {
  flex-basis: 600px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 20px;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 278px;
}

#gallery li {
  padding: 0 60px 40px 0;
}

#gallery li img {
  flex-basis: 200px;
  height: 179px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#gallery li p {
  flex-basis: auto;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  line-height: 0.8em;
  max-width: 126px;
  margin: 0;
  padding: 0;
}


/********************FOOTER
********************/



/********************COLORS
********************/

/* site body */

/************

body {
  background-color: #ffffff;
  color: #999;
}

header {
  background: #ffffff;
  border-color: none;
}

h1 {
    color: #8EC0E4;
  }

a {
  color: #8EC0E4;
}

*******/
